.front-end-editor-wrap {
  border-bottom: none;
}

.front-end-editor-wrap .alert {
  padding: 15px 20px 13px;
  font-size: 14px;
  margin-bottom: 52px;
  border-radius: 0 2px 2px 0;
}

@media (min-width: 992px) {
  .front-end-editor-wrap .alert {
    margin-left: -130px;
    padding-left: 130px;
  }
}

.front-end-editor-wrap .entry-meta {
  position: relative;
}

.front-end-editor-wrap .entry-categories {
  position: relative;
}

.front-end-editor-wrap .entry-title {
  min-height: 52px;
}

.front-end-editor-wrap .entry-title,
.front-end-editor-wrap .entry-content {
  outline: none !important;
  position: relative;
}

.front-end-editor-wrap .entry-content:after {
  font-style: normal;
}

.front-end-editor-wrap .entry-title.error:before,
.front-end-editor-wrap .entry-meta.error:before,
.front-end-editor-wrap .entry-content.error:before {
  color: red;
  position: absolute;
  left: -52px;
  line-height: 56px;
  font-size: 28px;
  content: "\f06a";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.front-end-editor-wrap .entry-meta.error:before,
.front-end-editor-wrap .entry-content.error:before {
  line-height: 26px;
}

.front-end-editor-wrap .submit-post {
  margin-top: 104px;
  margin-left: 0;
}

.front-end-editor-wrap .demo {
  border: 3px dashed #eee;
  background: #f9f9f9;
  height: 468px;
  text-align: center;
  color: #999;
  font-size: 12px;
  padding-top: 150px;
}

.front-end-editor-wrap .demo .fa {
  font-size: 70px;
  cursor: crosshair;
}

.front-end-editor-wrap .demo strong {
  display: block;
  text-transform: uppercase;
  margin: 12px 0;
}

.front-end-editor-wrap .plupload-image {
  position: relative;
}

.front-end-editor-wrap .remove {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background: rgba(0,0,0,.5);
  text-align: center;
  color: #fff;
  line-height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0;
  filter: alpha(opacity=0);
}

.front-end-editor-wrap:hover .remove {
  opacity: .5;
  filter: alpha(opacity=50);
}

.front-end-editor-wrap .remove:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.front-end-editor-wrap .entry-content {
  margin-bottom: 26px;
  min-height: 26px;
}

/*.front-end-editor-wrap .entry-content {
  overflow: visible !important;
}

.front-end-editor-wrap .entry-content p {
  position: relative;
}

.front-end-editor-wrap .entry-content p:after {
  content: "\f067";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: -40px;
  font-size: 14px;
  width: 26px;
  height: 26px;
  text-align: center;
  top: 26px;
  border: 1px solid #ddd;
  border-radius: 26px;
  display: none;
}*/

.front-end-editor-wrap .entry-content p:hover:after {
  display: block;
}

.add-more-image {
  background: #fff;
  line-height: 55px;
  display: block;
  color: #333 !important;
  cursor: crosshair;
}

@media ( max-width: 991px ) {
  .front-end-editor-wrap .entry-title.error:before,
  .front-end-editor-wrap .entry-meta.error:before,
  .front-end-editor-wrap .entry-content.error:before {
    left: -16px;
    font-size: 14px;
  }
}
